<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://cdn.foundation5.zurb.com/foundation.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
         
        <li class="name">
          <h1>
            <a href="#">
              Social DJ
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>
   
      <section class="top-bar-section">
         
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Main Item 1</a>
            <ul class="dropdown">
              <li><label>Section Name</label></li>
              <li class="has-dropdown">
                <a href="#" class="">Has Dropdown, Level 1</a>
                <ul class="dropdown">
                  <li><a href="#">Dropdown Options</a></li>
                  <li><a href="#">Dropdown Options</a></li>
                  <li><a href="#">Level 2</a></li>
                  <li><a href="#">Subdropdown Option</a></li>
                  <li><a href="#">Subdropdown Option</a></li>
                  <li><a href="#">Subdropdown Option</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li class="divider"></li>
              <li><label>Section Name</label></li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li class="divider"></li>
              <li><a href="#">See all →</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a href="#">Log In</a></li>
        </ul>
      </section>
    </nav>
    
    <div class="hero">
      <div class="row">
        <div class="large-12 columns">
          <h1>Let the people to choose the songs</h1>
        </div>
      </div>
    </div>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <input type="text" size="30" placeholder="Type your email here" id="email"><br/>
    <input type="password" size="30" placeholder="Type your password here" id="password"><br/>
    <input type="button" id="button" value="login"></input>

    <!-- <div class="row">
      <div class="large-12 columns">
         <div class="banner"><img src="/images/orange-banner.png"/></div>
      </div>
    </div> -->
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.foundation5.zurb.com/foundation.js"></script>
  <script>

  $(document).ready(function(){

    var email, password;

    $('#button').click(function(){

      email = $('#email').val();
      password = $('#password').val();

      $.post('http://localhost:3000/', {email: email, password: password}, function(response){
        if (response === 'done'){
          window.location.href="/parties";
        }
      })
    })
  })
  </script>
</html>