<!DOCTYPE html>
<html>
  <head>
    <title>Party List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Hello, <%= email %>. Welcome back! Your password is <%= password %></p><br/><br/> 
    <h1>Party List</h1>
    <ul id='parties'>
      <% for(var i = 0; i < parties.length; i++) { %>
      <li><a href=<%= '/parties/' + parties[i].dataValues.id %>><%= parties[i].dataValues.name %></a></li>
      <% } %>
    </ul>

    <a href="/logout">Logout</a>
    
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/parties.js"></script>
  </body>
</html>