<!DOCTYPE html>
<html>
  <head>
    <title><%= party.name %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="party-name" data=<%= party.id %>><%= party.name %> Now Trending</h1>
    <div>
      <form>
        <input type="text" id='song' list="matching-songs" name='song' placeholder='Enter a song...'>
        <datalist id="matching-songs"></datalist>
        <input type="submit">
      </form>
    </div>
    <ul id='songs'>
      <% for(var i = 0; i < songs.length; i++) { %>
      <li><%= songs[i].title %></li>
      <% } %>
    </ul>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/party.js"></script>
  </body>
</html>