body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.hero-mobile {
  background: url('http://images2.alphacoders.com/701/70172.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 15%;
  text-align: center;
  color: white;
}

.hero {
  background: url('http://images2.alphacoders.com/701/70172.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 13%;
  text-align: center;
  color: white;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}

.header-mobile {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}

#party-search {
  text-align: center;
  height: 
}

#navbar {
  font-family: 'Roboto', sans-serif !important;
  background: #ff6600 !important;
}

#logo {
  font-weight: 100;
  color: white;
  font-size: 5em;
}

#logo-mobile {
  font-weight: 100;
  color: white;
}

#music-icon {
  color: #ff6600;
}

.header-mod {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#djsignup {
  padding: 10%;
}
