body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #282828;
}

.hero-mobile {
  background: url('http://images2.alphacoders.com/701/70172.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 15%;
  text-align: center;
  color: white;
}

.hero {
  background: url('http://images2.alphacoders.com/701/70172.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 15%;
  padding-top: 9%;
  text-align: center;
  color: white;
}

#right-col {
  padding-top: 6%;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}

.header-dj {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
  border-bottom: 2px solid white;
}

.header-mobile {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}

#party-search {
  text-align: center;
  height: 
}

#navbar {
  font-family: 'Roboto', sans-serif;
  background: #ff6600;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #ff6600;
}

#logo {
  font-weight: 100;
  color: white;
  font-size: 4em;
}

#logo-mobile {
  font-weight: 100;
  color: white;
}

#music-icon {
  color: #ff6600;
}

.header-mod {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#party-input, #bigparty-input {
  padding-left: 20px;
}

#profile {
  width: 100%;
  text-align: center;
  padding: 2%;
}

#profile-picture {
  height: 120px;
  width: 120px;
}

#party-item {
  height: 40px;
  width: 120px;
  background: #ff6600;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 3px 3px 3px #888888;
}

#party-item > a {
  color: white;
}

#dashboard {
  width: 100%;
  height: 100%;
}

#song-table {
  width: 100%;
  height: 100%;
  background-color: #282828;
  color: white;
  border: none;
}

#song-table thead tr th {
  height: 80px;
  text-align: center;
  background-color: #282828;
  border-bottom: 2px solid #a0a0a0;
  color: white;
  font-size: 40px;
  font-weight: 100;
}

#song-table tbody tr td {
  background-color: #282828;
  border-bottom: 1px solid #a0a0a0;
  color: white;
  transition: all 0.5s ease;
}

#song-table tbody tr td:hover {
  background-color: #a0a0a0;
  color: #282828;
  cursor: pointer;
}

.votes p {
  width: 25px;
  height: 25px;
  display: inline-block;
  color: #ff6600;
  text-align: center;
  font-size: 30px;
}

.title {
  font-weight: 400;
  font-size: 20px;
}

.hide {
  display: none;
}


